PLATFORM = nRF24E1_EVBOARD
#SENSORBOARD ?= micasb
#PROGRAMMER_PART ?= -dpart=ATmega128 --wr_fuse_e=ff
#PFLAGS += -finline-limit=100000

$(call TOSMake_include_platform,mcs51)

nRF24E1_EVBOARD: $(BUILD_DEPS)
	@:
