#-*-Makefile-*- vim:syntax=make

PLATFORM = meshbean
SENSORBOARD ?= 
PROGRAMMER ?= avrdude


ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_PART ?= -pm1281 -U efuse:w:0xff:m
endif

ifeq ($(PROGRAMMER),uisp)
  PROGRAMMER_PART ?= -dpart=ATmega1281 --wr_fuse_e=ff
endif

#Setting Fusebits as default
AVR_FUSE_H ?= 0x99
AVR_FUSE_L ?= 0xe2

ifdef RF230_CHANNEL
PFLAGS += -DRF230_DEF_CHANNEL=$(RF230_CHANNEL)
endif

$(call TOSMake_include_platform,avr)

meshbean: $(BUILD_DEPS)
	@:
