#-*-Makefile-*- 
#$Id$

PLATFORM = tinynode184

ifndef TOSDIR
TOSDIR := $(shell ncc -print-tosdir)
endif

# filename of this file - NOTE: this command must execute before any other file is included!
file_name := $(lastword $(MAKEFILE_LIST))
# strip off the file name and go 2 levels up
TINYNODE184_PATH :=$(dir $(file_name))../..

PFLAGS += -I$(TINYNODE184_PATH)/tos/platforms/tinynode184
PFLAGS += -I$(TINYNODE184_PATH)/tos/platforms/tinynode184/chips/sx1211
PFLAGS += -I$(TINYNODE184_PATH)/tos/platforms/tinynode184/chips/mm74hc595
PFLAGS += -I$(TINYNODE184_PATH)/tos/platforms/tinynode184/chips/stm25p40
PFLAGS += -I$(TINYNODE184_PATH)/tos/platforms/tinynode184/tinynodeSEB
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211/conf
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211/phy
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211/interfaces
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211/packet
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211/LowPowerListening
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/sx1211
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/adc12
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/dma
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/pins
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/timer
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/usart
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/msp430/sensors
PFLAGS += -I$(TINYNODE184_PATH)/tos/chips/stm25p
PFLAGS += -I$(TINYNODE184_PATH)/tos/system
PFLAGS += -I$(TINYNODE184_PATH)/tos/lib/timer
PFLAGS += -I$(TINYNODE184_PATH)/tos/lib/net/Deluge/extra/msp430

# with old msp430-gcc
#MSP_BSL ?= tos-bsl
#OPTFLAGS = -Os

# with code>64k msp430-gcc
MSP_BSL ?= msp430-bsl
OPTFLAGS += -Os -mdata-64k
# -mcode-64k -mdata-64k

MSP_BSL_FLAGS += --speed=38400

#Flash Config
VOLUME_FILE = volumes-stm25p40.xml
VOLUME_ALLOCATOR = tos-storage-stm25p40

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul

$(call TOSMake_include_platform,tinynode)
$(call TOSMake_include_platform,msp)

tinynode184: $(BUILD_DEPS)
	@:

