#-*-Makefile-*- vim:syntax=make
#$Id$

PLATFORM ?= ambient

MSP_MCU = msp430x1611

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
OPTFLAGS += -O

MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --ambient

#Flash Config
#VOLUME_FILE = volumes-stm25p.xml
#VOLUME_ALLOCATOR = tos-storage-stm25p

ifdef NRF905_CHANNEL
PFLAGS += -DNRF905_DEF_CHANNEL=$(NRF905_CHANNEL)
endif

$(call TOSMake_include_platform,ambient)
$(call TOSMake_include_platform,msp)

ambient: $(BUILD_DEPS)
	@:
