########################################################################
### msp430f2618.target
###
### Rules for msp430f2618 demo board
###

PLATFORM ?= msp430f2618

CFLAGS += -DENABLE_SPI0_DMA
CFLAGS += -DHAVE_ROSC_P2_5
CFLAGS += -DFAST_CRC32
CFLAGS += -DHAS_CCXX00_RADIO

BSL ?= UMPH
MSP_BSL ?= ${TOSROOT}/support/bin/tos-bsl 
MSP_BSL_FLAGS ?= --telosb --rincon-usb

VOLUME_FILE = volumes-stm25p.xml
VOLUME_ALLOCATOR = tos-storage-stm25p

### grab f2618 defs
$(call TOSMake_include_platform,msp430f2618)

gma: $(BUILD_DEPS)
	@:

### EOF gma.target

